
<script type="text/javascript">
  window.assets = {
    logo: "<%= image_path("logo.png") %>",
    welcomeVideo: "<%= asset_path("/media/welcome_video.mp4") %>"
  }
</script>
<main id="root"></main>
