/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */
/* line 1, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/css_reset.scss */
html, body, section, div, li, form {
  margin: 0;
  border: 0;
  padding: 0;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;
  background: none;
}

/* line 5, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/events.scss */
.event-creation-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  margin-top: 0;
  text-align: center;
  padding: 40px;
  border-radius: 20px 0 0 0;
}
/* line 15, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/events.scss */
.event-creation-form h6 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 10px;
  margin-top: 20px;
  color: #bdb7b4;
  text-shadow: 1px 1px 0px white;
}

/* line 26, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/events.scss */
.event-creation-labels {
  display: flex;
  justify-content: flex-start;
  font-size: 18px;
  font-weight: 400;
  color: #63605e;
}

/* line 35, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/events.scss */
.icons {
  margin-right: 10px;
  margin-left: 0px;
}

/* line 40, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/events.scss */
.event-creation-input {
  display: block;
  width: 90%;
  padding: 14px;
  border-radius: 6px;
  border: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #63605e;
  font-weight: 600;
  font-size: 16px;
}
/* line 51, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/events.scss */
.event-creation-input ::input-placeholder {
  color: #bdb7b4;
}

/* line 56, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/events.scss */
.event-creation-button {
  padding: 14px;
  border-radius: 6px;
  border: 0;
  margin-bottom: 12px;
  color: #bdb7b4;
  font-size: 16px;
  display: inline-block;
  position: relative;
  float: left;
  width: 95%;
  margin-top: 10px;
  background-color: #61D2D6;
  color: #fff;
  font-weight: 400;
  text-shadow: 1px 1px 0px #b0e8ea;
  box-shadow: 0px 3px 0px #b0e8ea;
  transition: all .3s ease-in-out;
}

/* line 79, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/events.scss */
.event-creation-button:hover {
  cursor: pointer;
  background-color: #a5a09e;
  text-shadow: 1px 1px 0px #f6f2f0;
  box-shadow: 0px 3px 0px #f6f2f0;
}

/* line 86, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/events.scss */
.event-list-item-container {
  width: 90%;
  height: auto;
  margin: auto;
  border: 1px solid #bdb7b4;
  list-style: none;
  display: flex;
  background: #f6f2f0;
  border-radius: 5px;
}

/* line 97, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/events.scss */
.event-list-item-container:hover {
  cursor: pointer;
  background-color: #bdb7b4;
}

/* line 102, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/events.scss */
.set-width {
  width: 55%;
}

/* line 106, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/events.scss */
.flex {
  display: flex;
}

/* line 109, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/events.scss */
.event-list-item-date-time {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

/* line 115, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/events.scss */
.event-list-item-time {
  font-family: monospace;
}

/* line 118, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/events.scss */
.event-list-item-date {
  margin-left: 10px;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 400;
  color: #a5a09e;
  font-family: sans-serif;
}

/* line 126, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/events.scss */
.event-list-item-group-event {
  margin: 10px;
}

/* line 129, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/events.scss */
.event-list-item-group {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 10px;
  color: #63605e;
  text-shadow: 1px 1px 0px white;
}

/* line 137, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/events.scss */
.event-list-item-event {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #63605e;
  text-shadow: 1px 1px 0px white;
}

/* line 145, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/events.scss */
.event-detail-container {
  display: flex;
  flex-direction: column;
}

/* line 149, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/events.scss */
.event-detail-inner-container {
  display: flex;
  flex-direction: row;
}

/* line 154, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/events.scss */
.event-detail-event-name {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #63605e;
}

/* line 160, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/events.scss */
.event-detail-event-datetime {
  margin: 20px 20px 0px 20px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #63605e;
}

/* line 168, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/events.scss */
.event-detail-participation {
  margin: 20px 20px 0px 20px;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #800080;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 179, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/events.scss */
.people {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

/* line 185, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/events.scss */
.event-join-buttons {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: auto;
  background-color: #800080;
  padding: 10px;
  border-radius: 6px;
  border: 0;
  font-size: 16px;
  font-weight: 400;
  transition: all .3s ease-in-out;
  color: #FFF;
}
/* line 198, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/events.scss */
.event-join-buttons a, .event-join-buttons a:visited {
  color: #FFF;
  text-decoration: none;
  font-weight: 400;
}

/* line 206, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/events.scss */
.no-user {
  color: #a5a09e;
  font-family: 'Raleway',sans-serif;
  font-size: 15px;
  font-weight: 400;
  margin: 10px;
}

/* line 1, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/groups.scss */
.group-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 20px;
  width: 90%;
}

/* line 10, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/groups.scss */
.group-item {
  height: 250px;
  width: 350px;
  list-style: none;
  margin: 10px;
}
/* line 16, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/groups.scss */
.group-item h3 {
  position: relative;
  top: 50px;
  left: 30px;
  color: #FFF;
  margin: 20px;
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  text-shadow: 2px 2px 2px #000;
  filter: none;
  text-decoration: none;
}

/* line 32, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/groups.scss */
.group-item:hover {
  opacity: 0.5;
}

/* line 36, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/groups.scss */
.group-detail-page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* line 42, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/groups.scss */
.group-header {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  margin-top: 20px;
  height: 180px;
  background-color: rgba(255, 170, 0, 0.82);
  border-radius: 10px;
}
/* line 55, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/groups.scss */
.group-header h1 {
  color: #FFF;
  margin-bottom: 20px;
}

/* line 62, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/groups.scss */
.group-navbar-delete {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 0px;
  height: 20px;
  border: 1px solid #a5a09e;
  border-top: 15px solid #a5a09e;
  background-color: #EDE5E2;
  padding: 20px;
}

/* line 78, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/groups.scss */
.group-navbar {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: flex-start;
  align-items: center;
}

/* line 86, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/groups.scss */
.group-navbar-item {
  padding: 10px;
  color: #a5a09e;
  text-decoration: none;
}

/* line 92, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/groups.scss */
.group-navbar-item:hover {
  color: #FFF;
  background-color: #61D2D6;
  border-radius: 10px;
}

/* line 98, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/groups.scss */
.delete-edit {
  border-radius: 10px;
  background-color: #EDE5E2;
  float: right;
  margin-right: 10px;
}

/* line 105, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/groups.scss */
.group-content {
  margin-top: 20px;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  float: left;
}

/* line 114, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/groups.scss */
.group-info {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  border: 1px solid #a5a09e;
  background-color: #EDE5E2;
  padding: 20px;
  width: 30%;
  margin-right: 20px;
  border-radius: 10px;
}
/* line 124, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/groups.scss */
.group-info img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* line 132, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/groups.scss */
.group-detail {
  flex-grow: 2;
  padding: 20px;
  width: 60%;
  float: right;
  border: 1px solid #a5a09e;
  background-color: #EDE5E2;
  border-radius: 10px;
}

/* line 142, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/groups.scss */
.group-description {
  font-family: 'Source Sans Pro', sans-serif;
  color: #63605e;
  margin-top: 20px;
}

/* line 148, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/groups.scss */
.events-header {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: #63605e;
  margin-top: 50px;
  margin-bottom: 20px;
  text-shadow: 1px 1px 0px white;
}

/* line 158, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/groups.scss */
.group-city-name {
  color: #800080;
  font-weight: 300;
  margin: 5px;
  margin-bottom: 0;
}

/* line 165, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/groups.scss */
.group-city-name:hover {
  cursor: pointer;
  text-decoration: underline;
  font-weight: 500;
}

/* line 171, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/groups.scss */
.created-at {
  color: #a5a09e;
  font-weight: 200;
  margin: 5px;
  margin-top: 0;
}

/* line 177, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/groups.scss */
.group-info-items {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 300;
  color: #a5a09e;
  margin: 5px;
}

/* line 189, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/groups.scss */
.group-info-items:hover {
  cursor: pointer;
  color: inherit;
}

/* line 195, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/groups.scss */
.group-creation-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  opacity: 0.9;
  position: relative;
  margin: 20px auto;
  text-align: center;
  padding: 40px;
  border-radius: 20px 0 0 0;
}
/* line 207, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/groups.scss */
.group-creation-form ::-webkit-input-placeholder {
  color: #bdb7b4;
}
/* line 210, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/groups.scss */
.group-creation-form h6 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 25px;
  color: #bdb7b4;
  text-shadow: 1px 1px 0px white;
}

/* line 220, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/groups.scss */
.group-creation-labels {
  display: flex;
  justify-content: flex-start;
  font-size: 36px;
  font-weight: 400;
  color: #63605e;
}

/* line 230, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/groups.scss */
.icons {
  margin-right: 10px;
  margin-left: 0px;
}

/* line 235, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/groups.scss */
.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 240, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/groups.scss */
.group-creation-input {
  display: block;
  width: 90%;
  padding: 14px;
  border-radius: 6px;
  border: 0;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #63605e;
  font-weight: 600;
  font-size: 16px;
}

/* line 253, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/groups.scss */
.group-creation-button {
  padding: 14px;
  border-radius: 6px;
  border: 0;
  margin-bottom: 12px;
  color: #bdb7b4;
  font-size: 16px;
  display: inline-block;
  position: relative;
  float: left;
  width: 145px;
  margin-top: 10px;
  background-color: #61D2D6;
  color: #fff;
  font-weight: 400;
  text-shadow: 1px 1px 0px #b0e8ea;
  box-shadow: 0px 3px 0px #b0e8ea;
  transition: all .3s ease-in-out;
}

/* line 275, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/groups.scss */
.group-creation-button:hover {
  cursor: pointer;
  background-color: #a5a09e;
  text-shadow: 1px 1px 0px #f6f2f0;
  box-shadow: 0px 3px 0px #f6f2f0;
}

/* line 282, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/groups.scss */
.group-join-buttons {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 5px;
  width: auto;
  background-color: #a5a09e;
  padding: 10px;
  border-radius: 6px;
  border: 0;
  font-size: 16px;
  font-weight: 400;
  transition: all .3s ease-in-out;
  color: #FFF;
}
/* line 296, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/groups.scss */
.group-join-buttons a, .group-join-buttons a:visited {
  color: #FFF;
  text-decoration: none;
  font-weight: 400;
}

/* line 303, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/groups.scss */
.group-join-buttons:hover {
  background-color: #63605e;
}

/* line 307, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/groups.scss */
.modal-buttons {
  margin: 10px 0px 30px 0px;
  font-family: 'Raleway',sans-serif;
}

/* line 1, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/header.scss */
.header-container {
  height: 90px;
  background-color: #EDE5E2;
  font-family: serif;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

/* line 11, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/header.scss */
.logo {
  display: flex;
  justify-content: center;
  float: left;
  height: 60px;
  margin-top: auto;
  margin-left: 20px;
}

/* line 20, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/header.scss */
.welcome-message {
  color: #FFAA00;
}

/* line 25, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/header.scss */
.welcome-video {
  width: 100%;
  height: auto;
  margin-top: 90px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

/* line 38, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/header.scss */
.welcome {
  position: absolute;
  margin-top: 50px;
  width: 100%;
  align-items: center;
  color: #FFF;
  display: flex;
  flex-direction: column;
}
/* line 49, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/header.scss */
.welcome h1 {
  z-index: 0;
  display: block;
  font-family: 'Passion One', cursive;
  font-size: 80px;
}
/* line 57, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/header.scss */
.welcome h3 {
  z-index: 0;
  font-size: 30px;
  display: block;
  font-family: 'Raleway', sans-serif;
}

/* line 65, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/header.scss */
.margin-auto {
  margin: auto;
}

/* line 69, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/header.scss */
.header-list {
  list-style: none;
  margin-top: 8px;
  display: flex;
  margin-right: 20px;
}

/* line 76, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/header.scss */
.plus-icon {
  margin-left: 10px;
}

/* line 80, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/header.scss */
.header-buttons {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-right: 20px;
  width: auto;
  height: 50px;
  background-color: #61D2D6;
  padding: 5px 15px 5px 15px;
  border-radius: 6px;
  border: 0;
  margin-top: auto;
  font-size: 16px;
  font-weight: 400;
  text-shadow: 1px 1px 0px #B0E8EA;
  box-shadow: 0px 3px 0px #B0E8EA;
  transition: all .3s ease-in-out;
  color: #FFF;
}

/* line 102, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/header.scss */
.header-buttons:hover {
  cursor: pointer;
  background-color: #a5a09e;
  text-shadow: 1px 1px 0px #f6f2f0;
  box-shadow: 0px 3px 0px #f6f2f0;
}

/* line 109, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/header.scss */
.dropdown {
  position: absolute;
  width: 100px;
  border-radius: 5px;
  position: absolute;
  left: -58px;
  z-index: 110;
  top: 55px;
  background: #bdb7b4;
  list-style: none;
}
/* line 120, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/header.scss */
.dropdown li {
  color: #FFF;
  padding: 10px;
}
/* line 125, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/header.scss */
.dropdown li:hover {
  background-color: #a5a09e;
  border-radius: 5px;
}

/* line 131, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/header.scss */
.invisible {
  display: none;
}

/* line 135, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/header.scss */
.visible {
  display: block;
}

/* line 139, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/header.scss */
.create-button {
  display: block;
  position: relative;
  margin-right: 20px;
  width: 50px;
  height: 50px;
  background-color: #61D2D6;
  padding: 10px;
  border-radius: 6px;
  border: 0;
  margin-bottom: 12px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
  text-shadow: 1px 1px 0px #B0E8EA;
  box-shadow: 0px 3px 0px #B0E8EA;
  transition: all .3s ease-in-out;
  color: #FFF;
}
/* line 157, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/header.scss */
.create-button a, .create-button a:visited {
  color: #FFF;
  text-decoration: none;
  font-weight: 400;
}

/* line 164, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/header.scss */
.link {
  text-decoration: none;
}

/* line 168, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/header.scss */
.create-button:hover {
  cursor: pointer;
  background-color: #a5a09e;
  text-shadow: 1px 1px 0px #f6f2f0;
  box-shadow: 0px 3px 0px #f6f2f0;
}

/* line 175, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/header.scss */
.demo-login-signup-container {
  display: flex;
  justify-content: space-between;
}

/* line 183, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/header.scss */
.home-background {
  width: 100%;
  background-color: #FFAA00;
  color: #FFF;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  z-index: -100;
}
/* line 191, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/header.scss */
.home-background h1 {
  font-family: 'Passion One', cursive;
  font-size: 60px;
}
/* line 195, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/header.scss */
.home-background h3 {
  font-family: 'Raleway', sans-serif;
}

/* line 1, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/maps.scss */
.map {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  width: 90%;
  height: 300px;
}

/* line 9, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/maps.scss */
#locationField {
  position: relative;
  width: 100%;
}

/* line 14, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/maps.scss */
#locationField {
  height: 20px;
  margin-bottom: 2px;
}

/* line 19, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/maps.scss */
.map-on-events-index {
  width: 40%;
  right: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  bottom: 1px;
}

/* line 1, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/search.scss */
.search-container {
  width: 100%;
  height: auto;
  top: 0px;
  background-color: #a5a09e;
  text-align: center;
  z-index: 2;
  top: auto;
  margin: 0 auto;
  font-size: 0;
  font-size: 16px;
  line-height: 1.3;
  display: flex;
  justify-content: space-around;
  padding: 20px 0px 20px 0px;
}

/* line 18, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/search.scss */
.search-form {
  border-radius: 3px;
  padding: 8px;
  font-size: 24px;
  height: 25px;
  width: 280px;
  color: #353e48;
  background-color: #f6f2f0;
}

/* line 28, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/search.scss */
.search-input {
  background-color: #f6f2f0;
  width: 80%;
  font-size: 24px;
  border: none;
}

/* line 35, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/search.scss */
.search-icon {
  width: 20%;
}

/* line 39, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/search.scss */
.group-event-switch {
  display: flex;
}

/* line 43, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/search.scss */
.switch-buttons {
  margin: 3px;
  padding: 8px;
  font-size: 24px;
  height: 25px;
  width: 80px;
  background-color: #63605e;
  color: #f6f2f0;
  border-radius: 5px;
}
/* line 52, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/search.scss */
.switch-buttons a:visited {
  text-decoration: none;
  font-weight: 400;
  transition: all .3s ease-in-out;
}

/* line 59, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/search.scss */
.switch-buttons:hover {
  cursor: pointer;
  background-color: #f6f2f0;
  color: #63605e;
}

/* line 6, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/sessions.scss */
* {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

/* line 12, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/sessions.scss */
body {
  background: #f6f2f0;
  /*From https://flatuicolors.com/ 2c3e50*/
}

/* line 16, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/sessions.scss */
.auth-form {
  min-height: 300px;
  max-height: 400px;
  position: relative;
  width: 450px;
  text-align: center;
  padding: 40px;
  padding-bottom: 0;
  border-radius: 20px 0 0 0;
}
/* line 26, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/sessions.scss */
.auth-form ::-webkit-input-placeholder {
  color: #bdb7b4;
}
/* line 29, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/sessions.scss */
.auth-form h4 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2em;
  font-weight: 300;
  margin-bottom: 15px;
  color: #a5a09e;
  text-shadow: 1px 1px 0px white;
}

/* line 40, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/sessions.scss */
.username, .pw, .email, .auth-form-button {
  display: block;
  width: 90%;
  padding: 14px;
  border-radius: 6px;
  border: 0;
  margin-bottom: 12px;
  color: #bdb7b4;
  font-weight: 600;
  font-size: 16px;
}

/* line 52, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/sessions.scss */
.signup-login-container {
  display: inline;
  flex-direction: column;
}

/* line 57, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/sessions.scss */
.login-link {
  display: block;
  margin-left: 40px;
  color: #a5a09e;
  font-weight: 400;
  font-size: 16px;
}
/* line 64, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/sessions.scss */
.login-link strong:hover {
  cursor: pointer;
}

/* line 69, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/sessions.scss */
input:focus {
  background: #fafafa;
}

/* line 74, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/sessions.scss */
.auth-errors {
  padding: 12px;
  color: #D8000C;
  vertical-align: middle;
  margin: 10px 22px;
}

/* line 87, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/sessions.scss */
.auth-form-button {
  display: inline-block;
  position: relative;
  float: left;
  width: 145px;
  margin-top: 10px;
  background-color: #61D2D6;
  color: #fff;
  font-weight: 400;
  text-shadow: 1px 1px 0px #b0e8ea;
  box-shadow: 0px 3px 0px #b0e8ea;
  transition: all .3s ease-in-out;
}
/* line 99, /Users/elifsezgin/Desktop/Appacademy/full_stack_project/Scientup/app/assets/stylesheets/components/sessions.scss */
.auth-form-button a, .auth-form-button a:visited {
  text-decoration: none;
  font-weight: 400;
  transition: all .3s ease-in-out;
}
