$blue: #61D2D6;
$light-blue: #B0E8EA;
$light-gray: #EDE5E2;
$orange: #FFAA00;
$white: #FFF;
$pink: #ED146F;
$gray: #bdb7b4;
$dark-gray: #a5a09e;




$lightest-blue: #f0f8fc;
$dark-blue: #4d7b9f;
$darkest-blue: #265e8b;
