.github-icon {
  margin: auto;

  color: $darkest-gray;
}

.footer-container {
  position: relative;
  top: 0;
  bottom: 0;
  height: 90px;
  width: 100%;
  font-size: 50px;
  background-color: $light-gray;
  font-family: serif;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
