.group-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 100px;
}

.group-item {
  height: 200px;
  width: 300px;
  list-style: none;
  margin: 20px;

  h3 {
    position: relative;
    top: 50px;
    left: 30px;
    color: $white;

    filter: none;
    text-decoration: none;;
  }

}

.group-item:hover {
  opacity: 0.5;
}

.group-detail-page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.group-header {
  text-align: center;
  margin-top: 10px;
  height: 180px;
  width: 960px;
  background-color: $orange;
  border-radius: 20px;

  h1 {
    color: $white;
    margin-top: 20px;
  }

}
