.group-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 20px;
  width: 90%;
}

.group-item {
  height: 250px;
  width: 350px;
  list-style: none;
  margin: 10px;

  h3 {

    position: relative;
    top: 50px;
    left: 30px;
    color: $white;
    margin: 20px;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    text-shadow: 2px 2px 2px #000;
    filter: none;
    text-decoration: none;;
  }
  h4 {
    position: relative;
    top: 30px;
    left: 30px;
    color: $white;
    margin: 20px;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    text-shadow: 2px 2px 2px #000;
    filter: none;
    text-decoration: none;;
  }

}

.group-item:hover {
  opacity: 0.5;
}

.group-detail-page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}
.group-header {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  margin-top: 20px;
  height: 180px;
  // width: 960px;

  background-color: $orange-background;
  border-radius: 10px;

  h1 {
    color: $white;
    margin-bottom: 20px;
  }

}

.group-navbar-delete  {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 0px;
  height: 20px;
  border: 1px solid $dark-gray;
  border-top: 15px solid $dark-gray;
  background-color: $light-gray;
  padding: 20px;
}

.group-navbar{
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: flex-start;
  align-items: center;
}

.group-navbar-item {
  padding: 10px;
  color: $dark-gray;
  text-decoration: none;
}

.group-navbar-item:hover {
  color: $white;
  background-color: $blue;
  border-radius: 10px;
}

.delete-edit {
  border-radius: 10px;
  background-color: $light-gray;
  float: right;
  margin-right: 10px;
}

.group-content {
  margin-top: 20px;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  float: left;
}

.group-info {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  border: 1px solid $dark-gray;
  background-color: $light-gray;
  padding: 20px;
  width: 30%;
  margin-right: 20px;
  border-radius: 10px;
  img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
  }
}

.group-detail {
  flex-grow: 2;
  padding: 20px;
  width: 60%;
  float: right;
  border: 1px solid $dark-gray;
  background-color: $light-gray;
  border-radius: 10px;
}

.group-description {
  font-family: 'Source Sans Pro', sans-serif;
  color: $darkest-gray;
  margin-top: 20px;
}

.events-header {
  font-family: 'Source Sans Pro', sans-serif;
  font-size:22px;
  font-weight:500;
  color:$darkest-gray;
  margin-top: 50px;
  margin-bottom: 20px;
  text-shadow:1px 1px 0px white;
}

.group-city-name {
  color: $purple;
  font-weight: 300;
  margin: 5px;
  margin-bottom: 0;
}

// .group-city-name:hover {
//   cursor: pointer;
//   text-decoration: underline;
//   font-weight: 500;
// }
// .group-city-name:hover {
//   cursor: pointer;
//   text-decoration: underline;
//   font-weight: 500;
// }

.created-at {
  color: $dark-gray;
  font-weight: 200;
  margin: 5px;
  margin-top: 0;
}
.group-info-items {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 300;
  color: $dark-gray;
  margin: 5px;
}

.group-info-items:hover {
  cursor: pointer;
  color: inherit;
}


.group-creation-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  opacity: 0.9;
  position:relative;
  margin:20px auto;
  text-align:center;

  padding:40px;
  border-radius:20px 0 0 0;
  ::-webkit-input-placeholder {
    color: $gray;
  }
  h6 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size:12px;
    font-weight:300;
    margin-bottom:25px;
    color:$gray;
    text-shadow:1px 1px 0px white;
  }
}

.group-creation-labels {
  display: flex;
  justify-content:flex-start;
  // align-items: flex-start;
  font-size: 36px;
  font-weight: 400;
  color: $darkest-gray;
  // margin: 10px;
}

.icons {
  margin-right: 10px;
  margin-left: 0px;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.group-creation-input {
  display:block;
  width: 90%;
  padding:14px;
  border-radius:6px;
  border:0;
  margin-top: 30px;
  margin-bottom: 30px;
  color:$darkest-gray;
  font-weight:600;
  font-size:16px;
}

.group-creation-button {
  padding:14px;
  border-radius:6px;
  border:0;
  margin-bottom:12px;
  color:$gray;
  font-size:16px;

  display: inline-block;
  position:relative;
  float:left;
  width:145px;
  margin-top:10px;
  background-color: $blue;
  color:#fff;
  font-weight:400;
  text-shadow:1px 1px 0px #b0e8ea;
  box-shadow:0px 3px 0px #b0e8ea;
  transition: all .3s ease-in-out;
}


.group-creation-button:hover {
  cursor: pointer;
  background-color: $dark-gray;
  text-shadow:1px 1px 0px $lightest-gray;
  box-shadow:0px 3px 0px $lightest-gray;
}

.group-join-buttons {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 5px;
  width: auto;
  background-color: $dark-gray;
  padding: 10px;
  border-radius: 6px;
  border: 0;
  font-size: 16px;
  font-weight: 400;
  transition: all .3s ease-in-out;
  color: $white;
  a, a:visited {
    color: $white;
    text-decoration:none;
    font-weight:400;
  }
}

.group-join-buttons:hover {
  cursor: pointer;
  background-color: $darkest-gray;
}

.modal-buttons {
  margin: 10px 0px 30px 0px;
  font-family: 'Raleway',sans-serif;
}
