.header-container {
  height: 90px;
  background-color: $light-gray;
  font-family: serif;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.logo {
  display: flex;
  justify-content:center;
  float: left;
  height: 60px;
  margin-top: auto;
  margin-left: 20px;
}

.welcome-message {
  color: $orange;
}


.welcome-video {
  width: 100%;
  height: auto;
  position: relative;
  right: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.welcome {
  position: absolute;
  top: 100px;
  z-index: 0;
  margin-top: 50px;
  width: 100%;
  align-items: center;


  color: $white;
  display: flex;
  flex-direction: column;
  h1 {
    display: block;
    font-family:  'Passion One', cursive;
    font-size: 80px;
  }
  h3 {
    font-size: 30px;
    display: block;
    font-family: 'Raleway', sans-serif;
  }
}

.margin-auto {
  margin: auto;
}

.header-list {
  list-style: none;
  margin-top: 8px;
  display: flex;
  margin-right: 20px;
}

.plus-icon {
  margin-left: 10px;
}

.header-buttons {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-right: 20px;
  width: auto;
  height: 50px;
  background-color: $blue;
  padding: 5px 15px 5px 15px;
  border-radius: 6px;
  border: 0;

  margin-top: auto;
  font-size: 16px;
  font-weight: 400;
  text-shadow:1px 1px 0px $light-blue;
  box-shadow:0px 3px 0px $light-blue;
  transition: all .3s ease-in-out;
  color: $white;

}

.header-buttons:hover {
  cursor: pointer;
  background-color: $dark-gray;
  text-shadow:1px 1px 0px $lightest-gray;
  box-shadow:0px 3px 0px $lightest-gray;
}

.dropdown {
  position: absolute;
  width: 100px;
  border-radius: 5px;
  position: absolute;
  left: -58px;
  z-index: 110;

  top: 55px;
  background: $gray;
  list-style: none;
  li {
    color: $white;
    padding: 10px;
  }

  li:hover {
    background-color: $dark-gray;
    border-radius: 5px;
  }
}

.invisible {
  display: none;
}

.visible {
  display: block;
}

.create-button {
  display: block;
  position: relative;
  margin-right: 20px;
  width: 50px;
  height: 50px;
  background-color: $blue;
  padding: 10px;
  border-radius: 6px;
  border: 0;
  margin-bottom: 12px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
  text-shadow:1px 1px 0px $light-blue;
  box-shadow:0px 3px 0px $light-blue;
  transition: all .3s ease-in-out;
  color: $white;
  a, a:visited {
    color: $white;
    text-decoration:none;
    font-weight:400;
  }
}

.link {
  text-decoration: none;
}

.create-button:hover {
  cursor: pointer;
  background-color: $dark-gray;
  text-shadow:1px 1px 0px $lightest-gray;
  box-shadow:0px 3px 0px $lightest-gray;
}

.demo-login-signup-container {
  display: flex;
  justify-content: space-between;
}

.home-components {
  margin-bottom: 30px;
}

.home-background {
  width: 100%;
  background-color: $orange;
  color: $white;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  z-index: -100;
  h1 {
    font-family:  'Passion One', cursive;
    font-size: 60px;
  }
  h3 {
    font-family: 'Raleway', sans-serif;
  }
}
