.map {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 30%;
}

#locationField {
  position: relative;
  width: 100%;
}

#locationField {
  height: 20px;
  margin-bottom: 2px;
}

.map-on-events-index {
  width: 40%;
  // right: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  // position: fixed;
  // z-index: -100;
  // bottom: 1px;
}
