.map {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  width: 90%;
  height: 300px;
}

#locationField {
  position: relative;
  width: 100%;
}

#locationField {
  height: 20px;
  margin-bottom: 2px;
}

.map-on-events-index {
  width: 40%;
  right: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  bottom: 1px;
}
