.search-container {
  width: 100%;
  height: auto;
  top: 0px;
  background-color: $dark-gray;

  text-align: center;
  z-index: 2;
  top: auto;
  margin: 0 auto;
  font-size: 0;
  font-size: 16px;
  line-height: 1.3;
  display: flex;
  justify-content: space-around;
  padding: 20px 0px 20px 0px;
}
.search-form {
  border-radius: 3px;
  padding: 8px;
  font-size: 24px;
  height: 25px;
  width: 280px;
  color: #353e48;
  background-color: $lightest-gray;
}

.search-input {
  background-color: $lightest-gray;
  width: 80%;
  font-size: 24px;
  border: none;
}

.search-icon {
  width: 20%;
}

.group-event-switch {
  display: flex;
}

.switch-buttons {
  margin: 3px;
  padding: 8px;
  font-size: 24px;
  height: 25px;
  width: 80px;
  background-color: $darkest-gray;
  color: $lightest-gray;
  border-radius: 5px;
  a:visited {
    text-decoration:none;
    font-weight:400;
    transition: all .3s ease-in-out;
  }
}

.switch-buttons:hover {
  cursor: pointer;
  background-color: $lightest-gray;
  color: $darkest-gray;
}
